@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,100&display=swap');

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 100%;
  }

body {
    background-color: #ffefd5;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 3rem;
    color: #CD5C5C;
    margin: 3rem auto 1.5rem;
    text-align: center;
}

.subtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 1rem;
    color: #CD5C5C;
    margin: 3rem auto 1.5rem;
    text-align: center;
}

.textarea {
    margin: 1.5rem auto;
    width: 50%;
    height: 10rem;
    border: 0.125rem solid #ff9999;
    transform: translate(50%, 0);
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 1.5rem;
    color: #CD5C5C;
}

textarea:focus { 
    outline: none; 
} 

.keyboard {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 0.3rem;
    background-color: #cd5c5c;
    user-select: none;
}

.keyboard--hidden {
    bottom: -100%;
}

.keyboard__keys{
    text-align: center;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row .material-symbols-outlined {
    display: inline-flex;
}

.keyboard__key{
    height: 2.813rem;
    width: 2.813rem;
    background-color: rgba(250, 250, 250, 0.2);
    border-radius: 10%;
    border: none;
    margin: 0.3rem;
    color: #ffefd5;
    font-size: 1.105rem;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 1.5rem;
    padding: 0.3rem;
}

.keyboard__key--active{
    background-color: rgba(250, 250, 250, 0.08);
}

.keyboard__key--wide{
    width: 8%;
}

/*space*/
.keyboard__key--extra-wide{ 
    width: 21%;
}
